@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,400&display=swap&subset=cyrillic');

$title-ff: 'Playfair Display', serif;
$body-ff: 'Source Sans Pro', sans-serif;
$btn-ff: 'Open Sans', sans-serif;

$body-color: #ffffff;
$primary-color: #D4C17F;
$secondary-color: #242B33;

$dark-gray: #626262;
$medium-gray: #bebebe;
$light-gray: #e7e7e7;
$danger: #f74a1e;
$footer-gray: #2D343C;

$border-width: 1px;

$body-bg: $secondary-color;

$container-width: 1070px;